appdirs==1.4.4
attrs @ file:///C:/ci_311/attrs_1676422272484/work
Automat @ file:///tmp/build/80754af9/automat_1600298431173/work
bcrypt @ file:///C:/ci_311/bcrypt_1676435170049/work
brotlipy==0.7.0
certifi @ file:///C:/b/abs_36eb5mzhph/croot/certifi_1690232276943/work/certifi
cffi @ file:///C:/ci_311/cffi_1676423759166/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
constantly==15.1.0
cryptography @ file:///C:/b/abs_13590mi9q9/croot/cryptography_1689373706078/work
cssselect==1.1.0
filelock @ file:///C:/ci_311/filelock_1676427284139/work
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
idna @ file:///C:/ci_311/idna_1676424932545/work
incremental @ file:///tmp/build/80754af9/incremental_1636629750599/work
itemadapter @ file:///tmp/build/80754af9/itemadapter_1626442940632/work
itemloaders @ file:///opt/conda/conda-bld/itemloaders_1646805235997/work
jmespath @ file:///Users/ktietz/demo/mc3/conda-bld/jmespath_1630583964805/work
lxml @ file:///C:/b/abs_c2bg6ck92l/croot/lxml_1679646459966/work
packaging @ file:///C:/b/abs_28t5mcoltc/croot/packaging_1693575224052/work
parsel @ file:///C:/ci_311/parsel_1676443327188/work
Protego @ file:///tmp/build/80754af9/protego_1598657180827/work
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
PyDispatcher==2.0.5
pyOpenSSL @ file:///C:/b/abs_08f38zyck4/croot/pyopenssl_1690225407403/work
PySocks @ file:///C:/ci_311/pysocks_1676425991111/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pywin32==305.1
queuelib==1.5.0
requests @ file:///C:/b/abs_316c2inijk/croot/requests_1690400295842/work
requests-file @ file:///Users/ktietz/demo/mc3/conda-bld/requests-file_1629455781986/work
Scrapy @ file:///C:/ci_311/scrapy_1678502587780/work
service-identity @ file:///Users/ktietz/demo/mc3/conda-bld/service_identity_1629460757137/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
tldextract @ file:///opt/conda/conda-bld/tldextract_1646638314385/work
Twisted @ file:///C:/b/abs_f1pc_rieoy/croot/twisted_1683796899561/work
twisted-iocpsupport @ file:///C:/ci_311/twisted-iocpsupport_1676447612160/work
typing_extensions @ file:///C:/b/abs_213vg2cd1l/croot/typing_extensions_1690297804941/work
Unidecode @ file:///tmp/build/80754af9/unidecode_1614712377438/work
urllib3 @ file:///C:/b/abs_889_loyqv4/croot/urllib3_1686163174463/work
w3lib @ file:///Users/ktietz/demo/mc3/conda-bld/w3lib_1629359764703/work
win-inet-pton @ file:///C:/ci_311/win_inet_pton_1676425458225/work
zope.interface @ file:///C:/ci_311/zope.interface_1676439868776/work
